body {
    
    background-color:#121212;
  }

  .tropos {
    color: white;
    text-align: center;
    font-family: Segoe UI;
    font-size:28px;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2 {
    color: white;
    text-align:center;
    font-size:30px;
    font-family: verdana;
  }

   h3 {
    color: white;
    text-align:center;
    font-size:30px;
    font-family: Segoe UI;
  }
  
  p {
    color: white;
    text-align:center;
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 200%;
  
  }

  li {
    color: white;
    text-align:left;
    font-family: optima;
    font-size: 18px;
    width:600px;
  }

  div {
    text-align: center;
    width: 90%;
    margin-right:auto;
    margin-left:auto;
  }

  img {
    vertical-align:text-top;
  }

.imdblogo {
  vertical-align:text-bottom;
  height:20px;
}
  .grid-container {
  display: grid;
  max-width: 500px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

.grid-container4 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: start;
}

a:link {color: white;}
a:visited {color: white;}
a:link {color: white;}
a:active {color: white;}


a  {
  text-decoration:none;
}

.menubar {
  display: grid;
  height: 180px;
  justify-content: left;
  text-align: right;
}

.otsake {
  display: grid;
  max-width: 300px;
  width: 90%;
  margin: auto;
  height: 150px;
  grid-template-columns: 2fr 2.3fr;
  align-items: top;
}

.mainbody {
  max-width: 600px;
  margin: auto;
  background-color: #121212;
}

.topbar {
  width: 100%;
  margin-top: 30px;
  background-color:#121212;
}

.menuitem {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}


.cvitem {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.cvmovietitle {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.cvmovieinfo {
  font-family: verdana;
  font-size: 11px;
  text-align: left;
  margin: 0;
}

.cvfestivals {
  font-family: verdana;
  font-size: 11px;
  text-align: left;
  font-style: italic;
  margin: 0;
}